.message-area {
  height: 90vh;
  overflow: hidden;
  padding: 30px 0;
  background: #f5f5f5;
}

.chat-area {
  position: relative;
  width: 100%;
  background-color: transparent;
  border-radius: 0.3rem;
  height: 90vh;
  overflow: hidden;
  min-height: calc(100% - 1rem);
}
.chat-area .modal-content {
  border: none;
  border-radius: 0;
  outline: 0;
  height: 100%;
}
.chat-area .modal-dialog-scrollable {
  height: 100% !important;
  background-color: #f2f8f9;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2399c7ce' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.chat-area .modal-dialog-scrollable .empty__box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.chat-area .modal-dialog-scrollable .empty__box .message__icon {
  padding: 20px;
  color: #9ca3af;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  border-radius: 50%;
}
.chat-area .form-control {
  display: block;
  width: 80%;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #17171d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.chat-area .form-control:focus {
  outline: 0;
  box-shadow: inherit;
}
.chat-area .nav-tabs {
  align-items: center;
  justify-content: space-between;
  flex-wrap: inherit;
  border: none;
}
.chat-area .nav-tabs .nav-item {
  width: 100%;
}
.chat-area .nav-tabs .nav-link {
  width: 100%;
  color: #09596f;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: -1px;
  background: 0 0;
  border: none;
}
.chat-area .nav-tabs .nav-link:focus {
  border-color: transparent transparent #000;
  isolation: isolate;
}
.chat-area .nav-tabs .nav-link:hover {
  border-color: transparent transparent #000;
  isolation: isolate;
}
.chat-area .nav-tabs .nav-item.show .nav-link {
  color: #17171d;
  background-color: #fff;
  border-color: transparent transparent #000;
}
.chat-area .nav-tabs .nav-link.active {
  color: #17171d;
  background-color: #fff;
  border-color: transparent transparent #000;
}

.chatlist {
  outline: 0;
  height: 100%;
  overflow: hidden;
  width: 350px;
  float: left;
  margin-right: 10px;
}
.chatlist .modal-dialog {
  max-width: 100%;
  margin: 0;
}
.chatlist .modal-content {
  padding: 15px;
}

.chatbox {
  width: auto;
  overflow: hidden;
  height: 100%;
}
.chatbox .modal-dialog {
  max-width: 100%;
  margin: 0;
}
.chatbox .modal-body {
  background-color: #f2f8f9;
  background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%2399c7ce' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.msg-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.msg-search input {
  height: 45px;
}

a.add img {
  height: 36px;
}

.chat-list h3 {
  color: #17171d;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}
.chat-list p {
  color: #17171d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}
.chat-list a.d-flex {
  padding: 15px 5px;
  border-radius: 5px;
  background: #e0eeff;
  position: relative;
  text-decoration: none;
  margin-bottom: 5px;
}
.chat-list .active {
  background-color: #09596f !important;
  color: #fff !important;
}
.chat-list .active .h1,
.chat-list .active .h2,
.chat-list .active .h3,
.chat-list .active .h4,
.chat-list .active .h5,
.chat-list .active .h6,
.chat-list .active h1,
.chat-list .active h2,
.chat-list .active h3,
.chat-list .active h4,
.chat-list .active h5,
.chat-list .active h6 {
  color: #fff !important;
}
.chat-list .active p {
  color: #fff !important;
}

.msg-head {
  padding: 15px;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
}
.msg-head h3 {
  color: #17171d;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 0;
}
.msg-head p {
  color: #17171d;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 0;
}

.moreoption {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 0px !important;
}
.moreoption .dropdown-menu.show {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border: none !important;
}
.moreoption .navbar {
  padding: 0;
}
.moreoption li .nav-link {
  color: #17171d;
  font-size: 16px;
}
.moreoption .dropdown-toggle::after {
  display: none;
}
.moreoption .dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto;
  right: 0;
  margin-top: 0.125rem;
}

.msg-body ul {
  overflow: hidden;
}
.msg-body ul li {
  list-style: none;
  margin: 15px 0;
}
.msg-body ul li.sender {
  display: block;
  width: 100%;
  position: relative;
}
.msg-body ul li.sender:before {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  top: -6px;
  left: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 15px 12px;
  border-color: transparent transparent #e5e7eb transparent;
  transform: rotate(-37deg);
}
.msg-body ul li.sender .chat-content,
.msg-body ul li.sender .loader {
  color: #3c3c3c;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: #e5e7eb;
  display: inline-block;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 0;
  text-align: start;
}
.msg-body ul li.sender .chat-content b,
.msg-body ul li.sender .loader b {
  display: block;
  color: #09596f;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.msg-body ul li.sender .chat-content > p,
.msg-body ul li.sender .loader > p {
  margin-bottom: 5px;
}
.msg-body ul li.reply {
  display: block;
  width: 100%;
  text-align: right;
  position: relative;
}
.msg-body ul li.reply:before {
  display: block;
  clear: both;
  content: "";
  position: absolute;
  bottom: -3px;
  right: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12px 15px 12px;
  border-color: transparent transparent #09596f transparent;
  transform: rotate(37deg);
}
.msg-body ul li.reply .chat-content,
.msg-body ul li.reply .loader {
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  padding: 15px;
  background: #09596f;
  display: inline-block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: start;
  margin-bottom: 0;
}
.msg-body ul li.reply .chat-content b,
.msg-body ul li.reply .loader b {
  display: block;
  color: #09596f;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.msg-body ul li.reply:after {
  display: block;
  content: "";
  clear: both;
}
.msg-body h6 {
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #17171d;
  background: #fff;
  display: inline-block;
  padding: 0 5px;
  margin-bottom: 0;
}

.time {
  display: block;
  color: #000;
  font-size: 10px;
  line-height: 1.5;
  font-weight: 400;
}

li.reply .time {
  margin-right: 20px;
}

.divider {
  position: relative;
  z-index: 1;
  text-align: center;
}
.divider:after {
  display: block;
  content: "";
  clear: both;
  position: absolute;
  top: 12px;
  left: 0;
  border-top: 1px solid #ebebeb;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.send-box {
  padding: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.send-box form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.send-box .form-control {
  display: block;
  height: 45px;
  flex: 1 auto;
  margin-right: 10px;
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #17171d;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.send-box button {
  border: none;
  background: #09596f;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  height: 45px;
  padding: 0 20px;
  border-radius: 0.25rem;
}
.send-box button i {
  margin-right: 5px;
}

.send-btns .button-wrapper {
  position: relative;
  width: 125px;
  height: auto;
  text-align: left;
  margin: 0 auto;
  display: block;
  background: #f6f7fa;
  border-radius: 3px;
  padding: 5px 15px;
  float: left;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow: hidden;
}
.send-btns .button-wrapper span.label {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  color: #3c3c3c;
  font-weight: 400;
  text-transform: capitalize;
  font-size: 13px;
}
.send-btns .button-wrapper span.label img {
  margin-right: 5px;
}
.send-btns .attach .button-wrapper {
  background: #e0eeff;
}
.send-btns .attach .add-apoint {
  background: #e0eeff;
}
.send-btns .attach .form-control {
  display: inline-block;
  width: 120px;
  height: auto;
  padding: 5px 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #3c3c3c;
  background-color: #e0eeff;
  background-clip: padding-box;
  border: 1px solid #f6f7fa;
  border-radius: 3px;
  margin-bottom: 5px;
}

#upload {
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.button-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  text-align: center;
  margin: 0 auto;
}

button:focus {
  outline: 0;
}

.add-apoint {
  display: inline-block;
  margin-left: 5px;
}
.add-apoint a {
  text-decoration: none;
  background: #f6f7fa;
  border-radius: 8px;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2;
  color: #3c3c3c;
}
.add-apoint a svg {
  margin-right: 5px;
}

.chat-icon {
  display: none;
}

.closess i {
  display: none;
}

@media (max-width: 767px) {
  .chat-icon {
    display: block;
    margin-right: 5px;
  }
  .chatlist {
    width: 100%;
  }
  .chatbox {
    width: 100%;
    position: absolute;
    left: 1000px;
    right: 0;
    background: #fff;
    transition: all 0.5s ease;
    border-left: none;
  }
  .showbox {
    left: 0 !important;
    transition: all 0.5s ease;
  }
  .msg-head h3 {
    font-size: 14px;
  }
  .msg-head p {
    font-size: 12px;
  }
  .msg-head .flex-shrink-0 img {
    height: 30px;
  }
  .send-box button {
    width: 28%;
  }
  .send-box .form-control {
    width: 70%;
  }
  .chat-list h3 {
    font-size: 14px;
  }
  .chat-list p {
    font-size: 12px;
  }
  .msg-body ul li.sender div {
    font-size: 13px;
    padding: 8px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  .msg-body ul li.reply div {
    font-size: 13px;
    padding: 8px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}
.chat__item {
  transition: all 0.3s ease-in-out, border-color 0s;
  padding-left: 10px !important;
}
.chat__item:hover {
  background-color: #09596f !important;
  color: #fff !important;
}
.chat__item:hover .h1,
.chat__item:hover .h2,
.chat__item:hover .h3,
.chat__item:hover .h4,
.chat__item:hover .h5,
.chat__item:hover .h6,
.chat__item:hover h1,
.chat__item:hover h2,
.chat__item:hover h3,
.chat__item:hover h4,
.chat__item:hover h5,
.chat__item:hover h6 {
  color: #fff !important;
}
.chat__item:hover p {
  color: #fff !important;
}

.color-primary {
  color: #09596f !important;
}

.color-white {
  color: #fff !important;
}

.btn-icon {
  padding: 10px;
  background: #09596f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  color: white;
  border: none;
}
.btn-icon:hover {
  background: #0e8799;
  color: #f49d1a;
}

.chat__item.unread .chat-avatar {
  border: 5px solid #22c55e;
  animation: border-pulse 3s infinite;
}

.unread-count {
  width: 20px;
  height: 20px;
  line-height: 20px;
  color: #fff;
  font-size: 12px;
  text-align: center;
  border-radius: 100%;
  background-color: #09596f;
}

@keyframes border-pulse {
  0% {
    border: 5px solid #22c55e;
  }
  50% {
    border: 5px solid #dc2626;
  }
  100% {
    border: 5px solid #22c55e;
  }
}
.scroll-to-bottom {
  display: flex;
  position: sticky;
  bottom: 0;
  right: 0;
  float: right;
}
.scroll-to-bottom button {
  background: #09596f;
  border: none;
  color: #fff;
  border-radius: 50%;
}
.scroll-to-bottom button:hover {
  background: #d4d4d8 !important;
  color: #1e293b;
}
