$heading-font: "Rubik", sans-serif;
$common-font: "Rubik", sans-serif;
$poppins-font: "Poppins", sans-serif;
$common-font-size: 15px;
$common-font-color: #3c3c3c;
$clr-black: #000;
$clr-dark: #17171d;
$clr-secondry: #171d28;
$clr-bg-light: #f9f9f9;
$clr-white: #fff;
$card-bg: #e0eeff;
$card-bg-alt: #ffe9ef;
$clr-primary: #09596f;
$clr-primary-light: #0e8799;
$clr-yellow: #f49d1a;
$clr-yellow-light: #fec04d;
$clr-orange: #fd7e14;
$clr-gray: #f9fcff;
$clr-light-purple: #f0f6fe;
$transition: 0.5s all ease;
$outline-none: 0px none;
$inherit: inherit;
$none: none;

// extended variables
$primary-color: $clr-primary;
$secondary-color: $clr-secondry;
$success-color: #28c76f;
$warning-color: #ff9f43;
$info-color: #00cfe8;
$dark-color: #4b4b4b;
$danger-color: #ea5455;

$shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

$layered-shadow: rgba(146, 30, 57, 0.2) 5px 5px,
  rgba(146, 30, 57, 0.15) 10px 10px, rgba(147, 30, 57, 0.1) 15px 15px,
  rgba(147, 30, 57, 0.05) 20px 20px;

$card-gradient-1: linear-gradient(
  135deg,
  rgb(4, 0, 75) 0%,
  rgb(148, 31, 58) 99%
);

$card-gradient-2: linear-gradient(
  68deg,
  rgba(255, 225, 93, 1) 0%,
  rgba(220, 53, 53, 1) 84%
);
