@import "colors";

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg:#{$primary-500} !important;
    --bs-btn-border-color:#{$primary-500} !important;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg:#{$primary-600} !important;
    --bs-btn-hover-border-color:#{$primary-600} !important;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:#{$primary-700} !important;
    --bs-btn-active-border-color:#{$primary-700} !important;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg:#{$primary-500} !important;
    --bs-btn-disabled-border-color:#{$primary-500} !important;
}



.text-orange {
    color: $secondary-orange-color !important;
}

.bg-black {
    background-color: $black-900 !important;
}

.features-section>.row {
    background: var(--features-bg, #000);

}

:root {
    --bs-primary-rgb :#{$primary-500} !important;
    --bs-blue :#{$primary-500} !important;
    --bs-primary :#{$primary-500} !important;
    --bs-success: #28c76f !important;
    --bs-success-rgb: 40, 199, 111 !important;
    --bs-info: #00cfe8 !important;
    --bs-danger: #ea5455 !important;
}

.btn-success {
    background-color: var(--bs-success) !important;
    border-color: var(--bs-success) !important;
}

.btn-info {
    background-color: var(--bs-info) !important;
    border-color: var(--bs-info) !important;
}

.btn-danger {
    background-color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;
}

.btn-outline-danger {
    color: var(--bs-danger) !important;
    border-color: var(--bs-danger) !important;

    &:hover {
        color: #fff !important;
        background-color: var(--bs-danger) !important;
        border-color: var(--bs-danger) !important;
    }
}



// cookies consent theme
.theme_obillia {
    --cc-bg: #f9faff;
    --cc-text: #112954;
    --cc-btn-primary-bg: #{$primary-500};
    --cc-btn-primary-text: var(--cc-bg);
    --cc-btn-primary-hover-bg: #1d2e38;
    --cc-btn-secondary-bg: #dfe7f9;
    --cc-btn-secondary-text: var(--cc-text);
    --cc-btn-secondary-hover-bg: #c6d1ea;
    --cc-toggle-bg-off: #8fa8d6;
    --cc-toggle-bg-on: #3859d0;
    --cc-toggle-bg-readonly: #cbd8f1;
    --cc-toggle-knob-bg: #fff;
    --cc-toggle-knob-icon-color: #ecf2fa;
    --cc-block-text: var(--cc-text);
    --cc-cookie-category-block-bg: #ebeff9;
    --cc-cookie-category-block-bg-hover: #dbe5f9;
    --cc-section-border: #f1f3f5;
    --cc-cookie-table-border: #e1e7f3;
    --cc-overlay-bg: rgba(230, 235, 255, .85);
    --cc-webkit-scrollbar-bg: #ebeff9;
    --cc-webkit-scrollbar-bg-hover: #3859d0;
}

.theme_obillia #c-ttl {
    color: var(--cc-btn-primary-bg);
}

/* Custom border radius */
.theme_obillia #cm,
.theme_obillia #s-bl .act .b-acc,
.theme_obillia #s-inr,
.theme_obillia .cc_div .b-tl,
.theme_obillia .cc_div .c-bl {
    border-radius: 1.2em;
}

.theme_obillia .cc_div .c-bn {
    border-radius: .7em;
}

#cc_div #cm {
    outline: 2px solid var(--cc-btn-primary-bg);
}