// Imports
// --------------------------------------
@import "https://fonts.googleapis.com/css?family=Noto+Sans";
@import "colors";
@import "variables";
// Variables
// --------------------------------------
$scrollbar-width: 5px;


@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.svg-holder svg {
    width: 1.5em;
    height: 1.5em;
}

.ws-break {
    white-space: break-spaces;
}

header,
aside {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 10;
}

aside {
    max-width: 15rem !important;
    min-width: 15rem;
}

.nav-link {
    color: $primary-500 !important;
}

@media (max-width: 576px) {
    aside {
        max-width: 100% !important;
        min-width: 0;
        position: fixed;
        background: white;
        position: fixed;
        bottom: 0;
        padding-bottom: 2rem;
    }

    .floating-chat {
        bottom: 70px;
    }

    .container-fluid>.row {
        flex-direction: column-reverse !important;
    }

    .nav-item.active {
        &::after {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            background: red;
            opacity: 1;
            z-index: 1;
            width: 50% !important;
            height: 3px !important;
            transform: translateX(-50%) !important;
        }
    }
}

.timeline {
    padding: 0;
    margin-bottom: 0;
    margin-left: 1rem;
    list-style: none;
}

.timeline {


    .timeline-item {
        position: relative;
        padding-left: 2.5rem;
        border-left: 5px solid #D9D9D9;

        &.timeline-done {

            border-color: #198754;

            .timeline-point-indicator {
                background-color: #198754 !important;
            }
        }

    }
}



.timeline .timeline-item:not(:last-child) {
    padding-bottom: 1.8rem;
}

.timeline .timeline-item .timeline-point {
    position: absolute;
    left: -0.85rem;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    width: 1.75rem;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #09596f;
    background-color: #fff;
}

.timeline .timeline-item .timeline-point.timeline-point-indicator {
    left: -0.67rem;
    top: 0rem;
    height: 1rem;
    width: 1rem;
    border: 0;
    background-color: #09596f;
}

.timeline .timeline-item .timeline-point.timeline-point-indicator.pulse {
    animation: pulse 2s infinite;
}

.timeline .timeline-item .timeline-point i,
.timeline .timeline-item .timeline-point svg {
    color: #09596f;
    font-size: 0.85rem;
    vertical-align: baseline;
}

.timeline .timeline-item .timeline-event {
    position: relative;
    width: 100%;
    min-height: 4rem;
}

.timeline .timeline-item .timeline-event .timeline-event-time {
    font-size: 0.85rem;
    color: $primary-900;
}

.timeline .timeline-item:last-of-type {
    border-left-color: transparent !important;
}

.timeline .timeline-item:last-of-type:after {
    content: "";
    position: absolute;
    left: -0.3rem;
    bottom: 0;
    width: 5px;
    height: 100%;
    background: linear-gradient(#ebe9f1, transparent);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;

    background-clip: border-box;
    border: 0 solid rgba(34, 41, 47, 0.125);
    border-radius: 0.428rem;
    margin-bottom: 2rem;
    box-shadow: $shadow-center;
    border: 1px solid $gray-200;
    transition: all 0.3s ease-in-out, background 0s, color 0s, border-color 0s;

    &.bg-blue {
        background-color: #F0F2FF;
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 #09596f9d;
        box-shadow: 0 0 0 0 #09596f9d;
    }

    70% {
        -moz-box-shadow: 0 0 0 10px #09596f00;
        box-shadow: 0 0 0 10px #09596f00;
    }

    100% {
        -moz-box-shadow: 0 0 0 0 #09596f00;
        box-shadow: 0 0 0 0 #09596f00;
    }
}

:root {
    --progress: 30%;
}

.progress-bar {
    height: 2rem;
    width: 100%;
    background: $primary-400;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: var(--progress);
        background: $primary-800;
        border-radius: 5px;
    }

    p {
        margin: 0 !important;
        z-index: 9;
    }
}

/*
|--------------------------------------------------------------------------
| Apex Charts
|--------------------------------------------------------------------------
|
| This file contains the styles for the Apex Charts
|
*/
.apexcharts-canvas line[stroke="transparent"] {
    display: none;
}

.apexcharts-canvas .apexcharts-tooltip {
    background: #fff;
    border-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-tooltip .apexcharts-tooltip-title {
    background: #fff !important;
    border-color: #ebe9f1 !important;
    font-weight: 600;
}

.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-label,
.apexcharts-canvas .apexcharts-tooltip.apexcharts-theme-dark .apexcharts-tooltip-text-value {
    color: #fff;
}

.apexcharts-canvas .apexcharts-xaxistooltip,
.apexcharts-canvas .apexcharts-yaxistooltip {
    background: #f8f8f8;
    border-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-xaxistooltip-bottom:before {
    border-bottom-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-xaxistooltip-bottom::after {
    border-bottom-color: #f8f8f8;
}

.apexcharts-canvas .apexcharts-xaxistooltip-top:before {
    border-top-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-xaxistooltip-top::after {
    border-top-color: #f8f8f8;
}

.apexcharts-canvas .apexcharts-yaxistooltip-left:before {
    border-left-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-yaxistooltip-left:after {
    border-left-color: #f8f8f8;
}

.apexcharts-canvas .apexcharts-yaxistooltip-right:before {
    border-right-color: #ebe9f1;
}

.apexcharts-canvas .apexcharts-yaxistooltip-right:after {
    border-right-color: #f8f8f8;
}

.apexcharts-canvas .apexcharts-text,
.apexcharts-canvas .apexcharts-tooltip-text,
.apexcharts-canvas .apexcharts-datalabel-label,
.apexcharts-canvas .apexcharts-datalabel {
    font-family: var(--bs-font-sans-serif) !important;
    fill: #6e6b7b;
    font-weight: 400;
    filter: none;
}

.apexcharts-canvas .apexcharts-pie-label {
    fill: white;
    filter: none;
}

.apexcharts-canvas .apexcharts-pie .apexcharts-pie-series .apexcharts-pie-area {
    stroke-width: 0;
}

.apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-label,
.apexcharts-canvas .apexcharts-pie .apexcharts-datalabel-value {
    font-size: 1.5rem;
}

.apexcharts-canvas .apexcharts-marker {
    box-shadow: none;
}

.apexcharts-canvas .apexcharts-legend-series+.apexcharts-legend-series {
    margin-top: 0.625rem;
}

.apexcharts-canvas .apexcharts-legend-series .apexcharts-legend-text {
    margin-left: 0.5rem;
    color: #6e6b7b !important;
    font-size: 1rem !important;
}

.apexcharts-canvas .apexcharts-xcrosshairs,
.apexcharts-canvas .apexcharts-ycrosshairs,
.apexcharts-canvas .apexcharts-gridline {
    stroke: #ebe9f1;
}

.apexcharts-legend.position-bottom {
    bottom: 3rem;
}

.dark-layout .apexcharts-canvas .apexcharts-xaxis-tick,
.dark-layout .apexcharts-canvas line {
    stroke: #3b4253;
}

/*
|--------------------------------------------------------------------------
| Table
|--------------------------------------------------------------------------
*/

.table-secondary {
    --bs-table-bg: #f8f8f9;
    --bs-table-striped-bg: #f5f4f6;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #eaeaec;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #f1f1f3;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #d5d4da;
}

.table-secondary .btn-icon {
    color: #4b465c;
}

.table-success {
    --bs-table-bg: #eefbf3;
    --bs-table-striped-bg: #ebf7f0;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #e1ede7;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #e7f4ed;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #cdd7d5;
}

.table-success .btn-icon {
    color: #4b465c;
}

.table-info {
    --bs-table-bg: #ebfbfd;
    --bs-table-striped-bg: #e8f7fa;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #deedf0;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #e5f4f7;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #cbd7dd;
}

.table-info .btn-icon {
    color: #4b465c;
}

.table-warning {
    --bs-table-bg: #fff7f0;
    --bs-table-striped-bg: #fbf3ed;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #f1e9e4;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #f8f0ea;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #dbd4d2;
}

.table-warning .btn-icon {
    color: #4b465c;
}

.table-danger {
    --bs-table-bg: #fdf1f1;
    --bs-table-striped-bg: #f9eeee;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #efe3e5;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #f6eaeb;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #d9cfd3;
}

.table-danger .btn-icon {
    color: #4b465c;
}

.table-light {
    --bs-table-bg: #dfdfe3;
    --bs-table-striped-bg: #dcdce0;
    --bs-table-striped-color: #4b465c;
    --bs-table-active-bg: #d3d3d8;
    --bs-table-active-color: #4b465c;
    --bs-table-hover-bg: #d9d9de;
    --bs-table-hover-color: #4b465c;
    color: #4b465c;
    border-color: #c1c0c8;
}

.table-light .btn-icon {
    color: #4b465c;
}

.table-dark {
    --bs-table-bg: #4b4b4b;
    --bs-table-striped-bg: #4f4f4f;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #595959;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #525252;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #6f6f6f;
}

.table-dark .btn-icon {
    color: #fff;
}

.table:not(.table-borderless) {
    margin-bottom: 0;
}

.table> :not(:first-child) {
    border-top: 0;
}

.table .table-light th {
    border-bottom: 0;
}

@supports (-moz-appearance: none) {
    .table .dropdown-menu.show {
        display: inline-table;
    }
}

.table th {
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
    padding-top: 0.88rem;
    padding-bottom: 0.88rem;
}

.table:not(.table-dark) thead:not(.table-dark) th {
    color: #5d596c;
}

.table-border-bottom-0 tr:last-child td,
.table-border-bottom-0 tr:last-child th {
    border-bottom-width: 0;
}

.table.table-dark a i,
.table.table-dark .btn i {
    color: #fff;
}

.table.table-flush-spacing thead tr>td:first-child,
.table.table-flush-spacing tbody tr>td:first-child {
    padding-left: 0;
}

.table.table-flush-spacing thead tr>td:last-child,
.table.table-flush-spacing tbody tr>td:last-child {
    padding-right: 0;
}

/*
|--------------------------------------------------------------------------
| Helper
|--------------------------------------------------------------------------
*/

.h-screen {
    min-height: 100vh;
}

.bg-gray {
    background-color: $gray-200 !important;
    color: $primary-900 !important;
}

.nav-item.active {
    position: relative;
    background: $primary-200;
    color: $primary-900;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: #09596f;
        opacity: 1;
        z-index: 1;
        width: 3px;
        height: 50%;
        transform: translatey(50%);
    }
}



// Chat Styles
.chat-section {
    height: 100%;
    padding: 0 2rem 2rem 2rem;

}

.chat-container {
    height: 100%;
    border: 2px solid #E6E6E6;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.chat-header {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #bfdbfe;
}


.chat-avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;

    border: 2px solid white;

}

.chat-body {
    flex: 1;
    overflow: auto;
    padding: 0.5rem 1rem;
    position: relative;
    margin: 0;

    .received {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-right: 1rem;
    }

    .sent {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 1rem;
    }

    li {
        list-style: none;
    }

    &>li {
        padding-top: 10px;
    }

    .dropdown-toggle::after {
        display: none;
    }
}




.chat-content {
    padding: 1rem 1rem;
    background: #E6E6E6;
    position: relative;
}

.sent .chat-content {
    border-radius: 20px 20px 0px 20px;

    .chat-text {

        text-align: end;
    }
}

.received .chat-content {
    border-radius: 20px 20px 20px 0px;

    .chat-text {

        text-align: start;
    }
}


.chat-box {
    display: flex;
    gap: 10px;
    padding: 1rem 1rem;
    background: #E6E6E6;
}

.chat-input {
    flex: 1;
    border: none;
    height: 3rem;
    border-radius: 2rem;
    padding: 0 1rem;
}

.chat-input:focus-visible {
    outline: none;
}

.chat-send {
    border: none;
    background: none;
    cursor: pointer;
    color: #1f2937;
}

.chat-send>svg {
    height: 1.5rem;
    width: 1.5rem;
}

.small,
small {
    font-size: 0.7rem;
}

.chat-attach {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    i {
        font-size: 1.2rem;
    }
}


.chat-img {
    max-width: 20rem;
    border-radius: 20px;
}

.uploading {
    position: relative;

    .blurred-loading {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        backdrop-filter: blur(8px);
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
            font-size: 2rem;
            color: #fff;
        }

        & image {
            border-radius: 20px;
        }
    }

}

.chat-images {
    min-height: 20rem;
    min-width: 20rem;
}

.chat-form {
    position: relative;
    transition: all 0.3s ease;
}

.slide-up {
    position: absolute;
    transition: all 0.3s ease;
    width: 100%;
    z-index: 1;
}

.slide-up.open {
    transform: translateY(-100%);
}

.chat-box {
    position: relative;
    transition: all 0.3s ease;
    z-index: 2;
}

.chat-content .dropdown {
    position: absolute;
    top: 0;

    &>button {
        color: $primary-500 !important;
    }
}

.chat-text {
    // padding-right: 1rem;
}

.sent .dropdown {
    left: -2rem;
}

.received .dropdown {
    right: -2rem;
}

.reply-sheet-holder {
    background: #e6e6e6;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #d1d5db;
}

.reply-sheet-content {
    display: flex;
    background: #e6e6e6;
    gap: 10px;
    border-left: 4px solid #2bb177;
    border-radius: 0.5rem;
    padding: 0.5rem 0 0.5rem 1rem;
    background: white;
    max-height: 5rem;
    overflow: hidden;
}

.reply-sheet-content img {
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 1rem;
}

.reply-sheet-content p {
    margin: 0;
}

.message-reply {
    padding: 0.5rem;
    border-left: 4px solid #2bb177;
    border-radius: 0.5rem;
    background: #f9fafb;
}

.message-reply .chat-images {
    min-height: 10rem;
    min-width: 10rem;
}

.message-reply .chat-images img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
    border-radius: 1rem;
}